h1{
     margin-bottom: 70px;
}

.container{
    padding: 50px;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    background-color: rgb(210, 255, 223);
}

.record_container{
    width: 300px;
    border: 1px solid gray;
    padding: 20px;
    margin-top: 30px;
}

#count_plus, #count_minus{
    margin: 2px;
    padding: 10px;
    width: 100%;
}

#count_plus{
    background-color: rgb(255, 106, 106);
}

#count_minus{
    background-color: rgb(104, 94, 247);
}

#count_plus:hover{
    background-color: rgb(255, 0, 0);
}

#count_minus:hover{
    background-color: rgb(17, 0, 255);
}